body {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #dae2f8;
}
h2 {
    text-align: center;
    color: red;
}
p:first-of-type {
    margin-top: 40px;
}
#progressBarContainer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #283048;
}
#progressBar {
    transform: scale(0, 0);
    opacity: 0;
    transform-origin: top left;
    background-color: #ffc837;
}
#progressBarContainer,
#progressBar {
    height: 20px;
}
.top-btn {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #9e475ad8;
    cursor: pointer;

    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    font-size: 20px;
    transition: 0.3s;
    color: whitesmoke;
    margin-top: 7px;
}
* {
    scroll-behavior: smooth;
}
.content {
    width: 80%;
    margin: 0 auto;
}
.btn-list {
    display: flex;
    gap: 80px;
}
button {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffd6e4;
    color: #e21033;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn-list {
    margin: 0 auto;
}
#test_2 {
    border: 1px solid red;
}
